<div class="wrapper">
  <div class="container">
    
    <div class="half">
      <img src="../../../assets/pass.jpg" alt="">
      <button> 
        <span>
          <a routerLink="/quiz-constructor">
            Створити тест 
          </a>
        </span>
      </button>
    </div>

    <div class="half">
      <img src="../../../assets/build.png" alt="">
      <button> 
        <span>
        <a routerLink="/tests">Пройти тести
           </a>
          </span>
        </button>
    </div>
  </div>
  </div>
